
.container {
  background-color: rgb(0, 255, 13);
  width: 100vw; /* viewport width */
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 20px

}


/* Estilos para Teste */
.img_logo{
  transform: scale(1.2);
  position: relative;
  bottom:7px
}
.section{
  display: flex;
  justify-content: space-evenly;
  
  width: 40%;
   border-radius: 10px;
  align-items: center;
}
 .section1,
   .section2,
   .section3 {width: 100px; background-color:darkcyan;display:flex;align-items:center;justify-content: center;height: 40px;}

   .section1:hover,
   .section2:hover,
   .section3:hover {
     background-color: blue;
     font-weight: bold;
   }

   