

.logo{
  color: #ffffff;
}


.topSearch{
  width: 100vw; /* viewport width */
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}


.section {
  position: relative;
  background-color: #ffffff;
  width: 100dvw; /* viewport width */
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  

}
    #search{
      width: 20dvW; 
      height: 3.4dvh;
      padding-left: 10px;
      
      border-radius: 10px;
      border-style: none;
    }
    #search:focus{
      border-color: none;
    }

/* Estilos para Teste */
.img_logo{
  transform: scale(1.2);
  position: relative;
  bottom:7px
}

 .section1,
   .section2,
   .section3 {width: 100px; display:flex;align-items:center;justify-content: center;}

   .section1:hover,
   .section2:hover,
   .section3:hover {
     background-color: blue;
     font-weight: bold;
   }

   